# Database Settings
POSTGRES_USER=plotline_admin
POSTGRES_PASSWORD=secure_dev_pass_2026
POSTGRES_DB=plotline_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5433

# FastAPI Configurations
API_V1_STR=/api/v1
PROJECT_NAME=PlotLine
CORS_ORIGINS=["http://localhost:5173"]

